*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-nav a{
  color: gray;
}

.navbar-nav a:hover{
  color: black;
}

.nb h4{
  font-size: 30px;
  font-weight: bolder;
}

.image-text{
  margin-top: 5%;
  gap: 100px;
}

.first-img img{
  border-radius: 30px;
}

.second-img{
  justify-content: space-between;
  margin-bottom: 5%;
}

.second-img img{
  border-radius: 15px;
}

.text{
  margin-top: 10%;
}

.text h6{
  color: orange;
  font-size: 15px;
}

.text h1{
  font-size: 40px;
  font-weight: bolder;
}

.low{
  color: gray;
  margin-top: 30px;
  width: 80%;
}

.dol h4{
  font-style: normal;
  font-weight: bolder;
  font-family: Arial;
}

.per button{
  border: none;
  background-color: pink;
  color: orange;
  padding: 3px;
  border-radius: 2px;
  font-weight: bold;
}

.dol2{
  margin-top: -30px;
}

.btn1 button{
  border: 0;
  background-color: rgb(234, 247, 243);
  color: orange!important;
  padding: 10px;
  gap: 30px;
  font-size: 25px;
  border-radius: 10px;
}

.btn1 button p{
  margin: 0;
}

.btn2 button{
  border: 0;
  background-color: orange;
  padding: 15px;
  color: white;
  gap: 20px;
  justify-content: center;
  border-radius: 10px;
  width: 76%;
}

.btn2 button p{
  margin-bottom: 0;
}